body{
  font-family: sans-serif;
  color: white;
}
/*********HEADER SECTION************/
ul li{
  list-style: none;
  font-family: sans-serif;
  color: orange;
  display: inline;
}
/***********SECTION ONE**************/
.one {
  text-align: center;
  background: linear-gradient(to right, #ee0979 , #ff6a00);
}
.header{
  font-size: 50px;
  color: white;
  padding-bottom: 0;
  border-bottom: 1px;
  margin: 0;
}
.subtitle{
  font-size: 25px;
  color: brown;
  padding-top: 0;
  border-top: 0;
  margin-top:0;
}
#section-one{
  color: white;
  font-size: 14px;
  border-top: dashed brown 1px;
  border-bottom: dashed brown 1px;
  padding-top: 30px;
  padding-bottom: 30px;
}
/***********SECTION TWO********************/
section{
  background-color: white;
}
h2{
  color: brown;
  font-size: 50px;
}
.content{
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: 1px;
  color: tan;
  font-size: 25px;
}
#topic{
  color: brown;
}
/*******************SECTION THREE******************/
#last{
  background-color: tan;
  color: brown;
  font-size: 4em;
  font-weight: bold;
}
.sneakertitles{
  color: white;
  text-decoration: underline;
  font-size: 2em;
}
#price{
  color: purple;
  text-decoration: underline;
}
#footer{
  color: purple;
  text-decoration: underline;
}
